.inter-meeting {

  .meeting-operate {
    margin-bottom: 10px;
    .ant-btn {
      margin-right: 10px;
    }
  }
  .meeting-list {
    .meeting-left {
      padding-top: 20px;
      border-right: 1px solid #f0f0f0;
    }
    .meeting-right {
      padding: 0 20px;
    }
  }
}