/* @import '~antd/dist/antd.css'; */
.app-container {
    header {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 1px solid #f0f0f0;
        .title {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 0px;
        background-color: #f0f0f0;
    }
}